{% extends "layout.html.twig" %}
{% set title = 'Login page' %}
{% block head %}
    <!-- Custom styles for this page -->
    <link href="{{ asset('signin.css') }}" rel="stylesheet">
{% endblock %}
{% block div_container %}
    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">username</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="pwd" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
{% endblock %}